/* Use a more modern serif font */
body {
    font-family: 'courier', serif;
    background-color: #ffffff;
    margin: auto; 
    padding: auto; 
}

h1 {
    color: #000000;
    text-align: center; 
}

p {
    max-width: 800px;
    margin: 0 auto; 
    text-align: center; 
}

.center {
    text-align: center;
}
