body {
    font-family: 'Courier New', Times, serif;
    background-color: #ffffff;
}

h1 {
    color: #000000;
}

.center {
    text-align: center;
}

/* Mobile styles */
@media (max-width: 600px) {
    body {
    background-color: #ffffff;
    }

    header, footer {
        padding: 0.5em 0;
    }

    main {
        padding: 0.5em;
    }

    h1 {
        font-size: 1.5em;
    }
}