body {
    font-family: 'Courier New', Times, serif;
    background-color: #ffffff;
}

h1 {
    color: #000000;
}

.center {
    text-align: center;
}

/* Base styles for all screen sizes */
body {
    font-family: 'Courier New', Times, serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

header, footer {
    background-color: #ffffff;
    color: white;
    text-align: center;
    padding: 1em 0;
}

main {
    padding: 1em;
}

/* Mobile styles */
@media (max-width: 600px) {
    body {
    background-color: #ffffff;
    }

    header, footer {
        padding: 0.5em 0;
    }

    main {
        padding: 0.5em;
    }

    h1 {
        font-size: 1.5em;
    }
}

/* Tablet styles */
@media (min-width: 601px) and (max-width: 1024px) {
    body {
        background-color: #ffffff;
    }

    h1 {
        font-size: 2em;
    }

    main {
        padding: 2em;
    }
}

/* Desktop styles */
@media (min-width: 1025px) {
    body {
        background-color: #ffffff;
    }

    h1 {
        font-size: 2.5em;
    }

    main {
        padding: 3em;
    }
}
